<!DOCTYPE html>
<html>
<head>
  
	<meta charset="utf-8">
	<title>WEBPAGE1</title>
	<meta name="description" content="">
	<meta name="author" content="">	
 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/style.css">
   	<link rel="stylesheet" href="css/classup.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsiveslides.css">	
	
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
	
	 <script src="js/jquery-latest.min.js"></script>
	<script src="js/script.js"></script>
    <script src="js/jquery183.min.js"></script>
    <script src="js/responsiveslides.min.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> 
     <script src="js/test.js"></script> 
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js">
    </script>
    <script src="js/app.js"></script>
</head>
<body ng-app="root">
<div ng-controller="index">

<!--Header-->
<header>
	<div class="wrap-header">
		<div class="row">
			<nav>
			  <ul>
			    <li id="login">
			      <a id="login-trigger" href="#">
			        Log in <span>▼</span>
			      </a>
			      <div id="login-content">
			        <form>
			          <fieldset id="inputs">
			            <input id="username" type="email" name="Email" placeholder="Your email address" required>   
			            <input id="password" type="password" name="Password" placeholder="Password" required>
			          </fieldset>
			          <fieldset id="actions">
			            <input type="submit" id="submit" value="Log in">
			            <label><input type="checkbox" checked="checked"> Keep me signed in</label>
			          </fieldset>
			        </form>
			      </div>                     
			    </li>
			    <li id="signup">
			      <a href="">Sign up FREE</a>
			    </li>
			  </ul>
			</nav>
		</div>
</header>



<!--Container-->
<section id="container">
	<div class="wrap-container">
                <section class="content-box box-1">
                
				<div class="header">
					<h2 class="heading">
						<div id="cssmenu">
                        <ul> 
                            <li ng-class="{active:isSelected(1)}">
                                <a href ng-click="selectTab(1)">Stream</a></li>
                            <li ng-class="{active:isSelected(2)}">
                                <a href ng-click="selectTab(2)">Subject</a></li>
                            <li ng-class="{active:isSelected(3)}">
                                <a href ng-click="selectTab(3)">Location</a></li>
                            <!--
                            <li ng-class="{active:cc.isSelected(4)}">
                                <a href ng-click="cc.selectTab(4)"></a></li>
                            <li ng-class="{active:cc.isSelected(5)}">
                                <a href ng-click="cc.selectTab(5)"></a></li>
                                -->
                    </ul>
                        </div>
					</h2>
				</div>
				<div class="one">
				
					<h2 class="heading1">
						<div id="cssmenu" ng-show="tabselected==1">
                        <ul>
                            <li ng-class="{active:isSelected(1)}">
                                <a href ng-click="selectTabb(4)">Science</a></li><br>
                            <li ng-class="{active:isSelected(1)}">
                                <a href ng-click="selectTabb(5)">Arts</a></li><br>
                            <li ng-class="{active:isSelected(1)}">
                                <a href ng-click="selectTabb(6)">Commerce</a></li><br>
                           <!-- <li ng-class="{active:cc.isSelected(4)}">
                                <a href ng-click="cc.selectTab(4)"></a></li><br>
                            <li ng-class="{active:cc.isSelected(5)}">
                                <a href ng-click="cc.selectTab(5)">B.E</a></li><br>-->
                        </ul>
                        </div>
                        <div id="cssmenu" ng-show="tabselected==2">
                        <ul>
                            <li ng-class="{active:isSelected(2)}">
                                <a href ng-click="selectTabb(7)">Bee</a></li><br>
                            <li ng-class="{active:isSelected(2)}">
                                <a href ng-click="selectTabb(8)">Mechanics</a></li><br>
                            <li ng-class="{active:isSelected(2)}">
                                <a href ng-click="selectTabb(9)">Maths</a></li><br>
                           <!-- <li ng-class="{active:cc.isSelected(4)}">
                                <a href ng-click="cc.selectTab(4)">XII Sci</a></li><br>
                            <li ng-class="{active:cc.isSelected(5)}">
                                <a href ng-click="cc.selectTab(5)">B.E</a></li><br>-->
                        </ul>
                        </div>
                        <div id="cssmenu" ng-show="tabselected==3">
                        <ul>
                            <li ng-class="{active:isSelected(3)}">
                                <a href ng-click="selectTabb(10)">Mumbai</a></li><br>
                            <li ng-class="{active:isSelected(3)}">
                                <a href ng-click="selectTabb(11)">Delhi</a></li><br>
                            <li ng-class="{active:isSelected(3)}">
                                <a href ng-click="selectTabb(12)">Banglore</a></li><br>
                            <!--<li ng-class="{active:cc.isSelected(4)}">
                                <a href ng-click="cc.selectTab(4)">XII Sci</a></li><br>
                            <li ng-class="{active:cc.isSelected(5)}">
                                <a href ng-click="cc.selectTab(5)">B.E</a></li><br>-->
                        </ul>
                        </div>
					</h2>
									
					 <div class="classes" ng-show="tabselected2==10">
					  <div class="col-1-3" ng-repeat="product in Mumbai">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.location}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>
					  <div class="classes" ng-show="tabselected2==11">
					  <div class="col-1-3" ng-repeat="product in Delhi">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.location}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>

					  <div class="classes" ng-show="tabselected2==12">
					  <div class="col-1-3" ng-repeat="product in Banglore">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.location}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>

					 <div class="classes" ng-show="tabselected2==4">
					  <div class="col-1-3" ng-repeat="product in Science">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.stream}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>

					 <div class="classes" ng-show="tabselected2==5">
					  <div class="col-1-3" ng-repeat="product in Arts">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.stream}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>

					 <div class="classes" ng-show="tabselected2==6">
					  <div class="col-1-3" ng-repeat="product in Commerce">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.stream}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>

					 <div class="classes" ng-show="tabselected2==7">
					  <div class="col-1-3" ng-repeat="product in Bee">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.subject}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>
					  <div class="classes" ng-show="tabselected2==8">
					  <div class="col-1-3" ng-repeat="product in Mechanics">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.subject}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>
					  <div class="classes" ng-show="tabselected2==9">
					  <div class="col-1-3" ng-repeat="product in Maths">
					  	<ul>
					  		<img ng-src='{{product.image}}'/>
					  		<li>{{product.name}}</li>
					  		<li>{{product.contact}}</li>
					  		<li>{{product.subject}}</li>
					  	    <li>{{product.email}}</li>
		                	<a class="btn" href="sinhals.html">More Details</a>
					  	</ul>				  	
					 </div>
					  </div>
				</div>
		</div>
	</div>
</section>
		
<!--Footer-->
<footer>
		<div class="wrap-footer">
		<div class="classup">
			<div class="row">
				<h3>Contact</h3>
				<span>Phone / +91 999 99 9999 </span></br>
				<span>Email / xyz@email.com  </span></br>
				<span><strong>Copyright 2014</strong></span>
			</div>
		</div>
	</div>
</footer>
</div>
</body></html>